<app-header titulo="Alert"></app-header>



<ion-content class="ion-padding">
    <ion-button (click)="onClick()" expand="block">
        Mostrar alerta
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Mostrar alerta Multiple Buttons
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
        Mostrar alerta Prompt
    </ion-button>

    <ion-button (click)="presentAlertRadio()" expand="block">
        Mostrar alerta Radio
    </ion-button>
</ion-content>