<app-header titulo="Cards"></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-label> Marcador </ion-label>
        </ion-item>
        <ion-card-content>
            1 Messi 2 Busquets 3 TerStegen 4 Pique 5 Dest 6 Alba 7 Pedri 8 Eric Garcia 9 Depay 10 DeJong 11 Griezzmann
        </ion-card-content>
    </ion-card>



    <ion-card>
        <img src="https://pbs.twimg.com/profile_images/1384132097967726596/gO8VoXWD_400x400.jpg">
        <ion-card-content>
            1 Messi 2 Busquets 3 TerStegen 4 Pique 5 Dest 6 Alba 7 Pedri 8 Eric Garcia 9 Depay 10 DeJong 11 Griezzmann
        </ion-card-content>
    </ion-card>


</ion-content>